<form>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="email" placeholder="Correo" required [(ngModel)]="auth.email" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="password" placeholder="Contraseña" required [(ngModel)]="auth.password" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-checkbox>Mantener sesión</mat-checkbox>
    <span fxFlex></span> <a [routerLink]="['/session/forgot-password']">Has olvidado tu contraseña?</a>
  </div>
  <button color="accent" class="button-lg mb-3" mat-raised-button (click)="onLogin()">Iniciar</button>
  <p>Sin cuenta? <a [routerLink]="['/session/signup']">Haga click aquí para obtener una.</a></p>
</form>