<ng-container *ngIf="pageTitle">
  <title-page heading="{{ pageTitle }}"></title-page>
  <div class="inner-container section-gap pt-2">
    <div class="card px-5 mx-5">
      <div class="grid mt-2 products-wrapper">
        <div class="filter-panel">
          <product-filter-nav (filtersEmiter)="filterData($event)" (cancelFilters)="clearFilters()"></product-filter-nav>
        </div>
        <div class="product-list">
          <grid-list-product [products]="products" [module]="'machinery'"></grid-list-product>
        </div>
      </div>
    </div>
  </div>
</ng-container>
