<mat-card class="p-0">
  <div fxLayout='row wrap' fxLayoutGap="0px" class="feature-list">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
      <div class="feature-inner p-4">
        <div fxLayout="row" fxLayoutAlign="start center" >
          <div>
            <img src="assets/images/free-delivery.png" alt="Feature of embryo" width="50" height="50">
          </div>
          <div class="px-4">
            <h6 class="text-md">ENVÍO GRATIS</h6>
            <h5 class="text-lg">Todos los días</h5>
            <span class="text-muted text-md">*Todo pedído superior a S/. 120</span>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
      <div class="feature-inner p-4">
        <div fxLayout="row" fxLayoutAlign="start center" >
          <div>
            <img src="assets/images/customer-support.png" alt="Feature of embryo" width="50" height="50">
          </div>
          <div class="px-4">
            <h6 class="text-md">SOPORTE AMIGABLE</h6>
            <h5 class="text-lg">24/7 Soporte</h5>
            <span class="text-muted text-md">*Solo en Perú</span>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
      <div class="feature-inner p-4">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div>
            <img src="assets/images/money-back.png" alt="Feature of embryo" width="50" height="50">
          </div>
          <div class="px-4">
            <h6 class="text-md">SEGURO</h6>
            <h5 class="text-lg">Devoluciones garantizadas</h5>
            <span class="text-muted text-md">*Aplica condiciones</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>

