<mat-card>
  <h2 style="padding-top: 1rem;padding-right: 1rem;padding-left: 1rem;">Información de Perfil</h2>
  <div class="pt-3" style="padding-bottom: 1rem;padding-right: 1rem;padding-left: 1rem;">
    <div class="proflie-field mb-3">
      <label>Nombre:</label>
      <span>{{user.firstName}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Apellido:</label>
      <span>{{user.lastName}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Género:</label>
      <span>{{user.gender}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Fecha Cumpleaños:</label>
      <span>{{user.birthDate | date}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Teléfono:</label>
      <span>{{user.mobile}}</span>
    </div>   
    <div class="proflie-field mb-3">
      <label>Correo:</label>
      <span>{{user.email}}</span>
    </div>

    <button mat-raised-button color="accent" [routerLink]="['edit']" [queryParams]="{type:'info'}">Editar</button>
  </div>
</mat-card>
