<mat-card>
   <h4 class="mb-1 mt-2 accent-color" style="margin-left: 1rem;margin-right: 1rem;">Historial de ordenes</h4>
   <div class="table-responsive-x">
      <table mat-table [dataSource]="dataSource" class="w-100 table-scroll-wrap">
         <ng-container matColumnDef="orderid">
            <th class="px-3" mat-header-cell *matHeaderCellDef> No. </th>
            <td class="px-3" mat-cell *matCellDef="let element"> {{element.orderid}} </td>
         </ng-container>
         <ng-container matColumnDef="date">
            <th class="px-3 text-nowrap" mat-header-cell *matHeaderCellDef> Fecha </th>
            <td class="px-3" mat-cell *matCellDef="let element"> {{element.date | date}} </td>
         </ng-container>
         <ng-container matColumnDef="subtotal">
            <th class="px-3" mat-header-cell *matHeaderCellDef>Sub Total </th>
            <td class="px-3" mat-cell *matCellDef="let element"> {{element.subtotal}} </td>
         </ng-container>
         <ng-container matColumnDef="taxes">
            <th class="px-3" mat-header-cell *matHeaderCellDef> Impuestos </th>
            <td class="px-3" mat-cell *matCellDef="let element"> {{element.taxes}} </td>
         </ng-container>
         <ng-container matColumnDef="shipper">
            <th class="px-3" mat-header-cell *matHeaderCellDef> Envío </th>
            <td class="px-3" mat-cell *matCellDef="let element"> {{element.shipper}} </td>
         </ng-container>
         <ng-container matColumnDef="total">
           <th class="px-3" mat-header-cell *matHeaderCellDef> Total </th>
           <td class="px-3" mat-cell *matCellDef="let element"> {{element.total | number : '1.2-2'}} </td>
         </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
   </div>
</mat-card>
