<mat-card class="product-card" *ngIf="product" style="margin-bottom: 1px;width: 626px;">
   <a class="p-link" [routerLink]="['/' + module, product?.id]">
     <img mat-card-image [src]="product.image" alt="Photo" class="product-image">
   </a>
   <div class="wishlist-icon {{index}}-wishlist" id="{{type}}-{{index}}-wishlist">
      <a (click)="productAddToWishlist(product, type+'-'+index+'-wishlist')"><i  class="material-icons"> favorite </i></a>
   </div>
  <mat-card-content class="product-content relative">
     <h4 class="font-bold">
      <a [routerLink]="['/' + module, product?.id]" class="title-link">{{product?.name}}</a> 
     </h4>
     <div>
        <div fxFlex fxLayoutAlign="space-between">
           <h5 class="accent-color">{{product?.price | currency: product.currency}}</h5>
           <div class="rating-star">
              <l-rating [rate]="product.rating"></l-rating>
           </div>
        </div>
     </div>
     <div class="m-icon" *ngIf="checkCartAlready(product)">
      <add-to-cart [product]="product" (addToCart)="addToCartProduct($event)"></add-to-cart>
     </div>
     <div class="m-icon" *ngIf="!checkCartAlready(product)">
         <button mat-fab [routerLink]="['/' + module, product?.id]"><i  class="material-icons"> remove_red_eye </i></button>
     </div>
  </mat-card-content>
</mat-card>

