<form>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="email" placeholder="Correo" required [(ngModel)]="auth.email" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="password" placeholder="Contraseña" required [(ngModel)]="auth.password" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-checkbox>Mantener sesión</mat-checkbox>
    <span fxFlex></span> <a [routerLink]="['/session/forgot-password']">Has olvidado tu contraseña?</a>
  </div>
  <button color="accent" class="button-lg mb-3" mat-raised-button (click)="onLogin()">Iniciar</button>
  <div> Sin cuenta? <a class="accent-color" [routerLink]="['/session/signup']">Haga click aquí</a> para obtener una.</div>
</form>